/*ADMIN*/
.page-container .main-content .top_navbar {
    background: #b25410 !important; 
}
.page-container .sidebar-menu {
    background: #b25410 !important 
}
.sidebar-menu header.logo-env .logo.text-center {
    background: #b25410 !important;
}
.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
    background: #9e8745;
}
.page-container .sidebar-menu #main-menu li ul > li > a:hover {
    background-color: #9e8745  !important;
}
.page-container .sidebar-menu #main-menu li.active > a {
    background-color: #9e8745 !important;
} 
.page-container .sidebar-menu #main-menu li ul > li > a {
    background-color: #b25410 !important;
} 
.page-container .sidebar-menu #main-menu li a:hover {
    background-color: #b25410 !important;
}
.page-container .sidebar-menu #main-menu .opened li.active > a {
    background: #9e8745 !important;
}
.nav.nav-tabs a.active {
    background: #9e8745 !important; 
}
.nav.nav-tabs a:hover {
    background: #9e8745 !important; 
} 
.nav-tabs { 
    background: #b25410; 
}
.system_name { 
    color: #9e8745 !important; 
}
.MORE {
    COLOR: #9e8745 !IMPORTANT;
}
.more {
    display: block;
    text-align: center;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #b25410 !important; 
}
.gradientone {
    background: linear-gradient(301deg, #b25410 0, #9e8745 50%, #b25410 100%); 
}
.gradienttwo {
    background: linear-gradient(301deg, #b25410 0, #b25410 50%, #9e8745 100%);
}
.dataTables_wrapper { 
    background: #b25410;
}
.tcher-dboard .box .box-header.with-border {
    background: #b25410; 
}
.tcher-dboard .table-bordered > thead > tr > td, .tcher-dboard .table-bordered > thead > tr > th {
    background-color: #b25410 !important;
}
.nc_month_heading {
    background: #9e8745;
    border: 1px solid #9e8745;
}
.btn {
    background: #9e8745 !important;   
    border: #9e8745 1px solid !important;
}
.btn-group .dropdown-menu {
    background: #9e8745 !important;
}
.btn:hover { 
    background: #b25410 !important;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    background-color: #9e8745 !important; 
}
div#attendance thead tr th {
    background: #b25410 !important;
}
.filterContainer {
    border: 1px solid #9e8745 !important;
    background: #9e8745 !important;
}
.filterContainer .btn {
    background: #b25410 !important;
    border: #ffffff 1px solid !important;
}
.filterContainer .modal_save_btn {
    background: #b25410 !important;
    border: #ffffff 1px solid !important;
}
.filterContainer .modal_save_btn:hover, .filterContainer .btn:hover {
    background: transparent !important;;
}
.btn.btn-danger {
    background-color: #b70808!important; 
}
.bg-primary {
    background-color: #b25410 !important;
}
.filterContainer .btn-primary:hover, .filterContainer input#submit_filter:hover {
    background: #9e8745 !important;
}
.page-body .dataTables_wrapper .dataTables_paginate .paginate_button:hover { 
    background: #9e8745 !important;
}  
a#DataTables_Table_1_previous {
    background: #9e8745 !important;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate span .paginate_button.current {
    background: #9e8745 !important; 
}
.modal_save_btn {
    background-color: #9e8745 !important;
    border: 1px solid #9e8745; 
}
.modal_save_btn:hover {
    background-color: #b25410 !important;
}
.panel-default > .panel-heading {
    background-color: #b25410;
    border-color: #e4a32c;
}
.panel-default > .panel-heading:hover {
    background-color: #9e8745;
    border-color: #146656;
}
.panel-group.joined>.panel>.panel-heading {
    background-color: #b25410 !important;
}
.student-panel .panel-group.joined > .panel > .panel-heading {
    background-color: #b25410 !important;
}
.class_routine_panel .panel-heading>.panel-title {
    background-color: #b25410;
}
.class_routine_panel span.green {
    color: #fff;
}
#navbar { 
    background-color: #b25410 !important;  
}
.sent_msg p {
    background: #9e8745 !important; 
}
.msg_send_btn {
    background: #b25410 none repeat scroll 0 0 !important; 
}
.profile-info.dropdown .dropdown-menu {
    background-color: #9e8745;
    border-color: #9e8745;
}
.notifications.dropdown .dropdown-menu>li { 
    background-color: #b25410; 
}
.notifications.dropdown .dropdown-menu > li > ul > li {
    background: #b25410;
}
.notifications.dropdown .dropdown-menu > li > ul > li > a:hover, .notifications.dropdown .dropdown-menu > li > ul > li > p:hover {
    background-color: #9e8745 !important;
}
#modal_ajax .panel-title {
    background: #b25410;
}
#modal_ajax .panel-heading {
    background-color: #b25410 !important;
} 
.modal .modal-header .close { 
    padding: 5px 7px 2px 6px; 
}
div#myModal .modal-header {
    background: #b25410;
    padding: 10px 15px;
}
div#myModal .modal-header h4.modal-title {
    color: #fff;
}
.coact {
    background-color: #b25410 !important;
    color: #fff !important;
}
.tree li {
    padding: 5px 5px 0px 1em !important;
    background: #b254102b !important;
    border-bottom: solid 1px #fff !important;
}
.tree li a {
    color: #000 !important
}
.tree li a i::before {
    color: #b25410 !important;
    margin: 4px;
}
.diary-tree li span {
    background:#9e8745;
}
.diary-tree li span:hover {
    background: #b25410; 
}
.diary-tree li::after{
    border-top:2px solid #9e8745;
}
.diary-tree li::before {
    border-left: 2px solid #9e8745; 
}
.row.diary-headr {
    background:#9e8745;
}
.row.diary-foter {
    background:#9e8745; 
}
.diary-roww {
    border:solid 2px #9e8745;
}
.row.diary-duedate {
    background: #b25410;
}
.diary-foter .btn {
    background: #b25410 !important;
    border: #b25410 1px solid !important;
}
.current-day {
    background: #9e8745 !important;
    border: 2px solid #b25410 !important;
}  
.present {
    background: #95e19b !important;
}
.weekend {
    background: #02bac3 !important;
}
.leave {
    background: #e5cf0e !important;
} 
.absent {
    background: #ed1c1c !important;
}
.today-legend {
    background: #9e8745 !important;
}
.holiday {
    background: #975cff !important;
    opacity: 1 !important;
}
form#save_addendance .myttl { 
    color: #ffffff; 
}
tr.present.current-day td {
    background: #9e8745 ;
}
.well {
    background: #d9874d !important;
}
.attndnce-dashbrd .well {
    height: 160px;
}
.well .col-lg-12 lable {
    color: white;
}
.well .col-sm-12 lable {
    color: white;
}
.well h4 {
    color:white !important;
}
#calendar_view_container table td li span { 
    color: #9e8745 !important; 
}
.week_name {
    background: #9e8745 !important; 
}
#calendar_view_container .highlight_day {
    background-color: #9e8745 !important;
}
#calendar_view_container .set-evnt-ltst {
    background: #b25410 !important;
}
#calendar_view_container table td {
    border: 2px solid #9e874529 !important
}
/*TEACHER*/

.sidebar-menu-inner.tcher-sidebar {
    background: #b25410 ;
}  
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #b25410!important;
    border: 1px solid #b25410;
    border-bottom-color: #b25410;
}
.tm_tbl h3 {
    color: #ffff !important;
}
.tm_tbl {
    background: #b25410 !important;
    padding: 8px;
}